$heading-4xl-font-size: 2.625rem;
$heading-4xl-line-height: 3.25rem;

$heading-3xl-font-size: 2.25rem;
$heading-3xl-line-height: 2.75rem;

$heading-2xl-font-size: 2rem;
$heading-2xl-line-height: 2.5rem;

$heading-xl-font-size: 1.75rem;
$heading-xl-line-height: 2rem;

$heading-lg-font-size: 1.5rem;
$heading-lg-line-height: 1.75rem;

$heading-sm-font-size: 1.25rem;
$heading-sm-line-height: 1.75rem;

$text-xl-font-size: 1.25rem;
$text-xl-line-height: 150%;

$text-lg-font-size: 1.125rem;
$text-lg-line-height: 150%;

$text-base-font-size: 1rem;
$text-base-line-height: 150%;

$text-sm-font-size: .875rem;
$text-sm-line-height: 150%;

$text-xs-font-size: .75rem;
$text-xs-line-height: 150%;

$font-weight-regular: 300;
$font-weight-bold: 800;
